.info_app {
  font-size: 1.5rem;
}

.line {
  border-top: 1px solid #ddeeff;
}

.login_position {
  display: grid;
}

.botom {
  background-color: #0b5886;
  color: white;
}

.without_pading {
  padding-left: 0px;
  padding-right: 0px;
}
