<main>
  <div class=" row navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="col">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/J2PhyLK/logo.jpg" class="d-inline-block align-top logo" @bottom-left-corner alt="Logo of Ionic">
      </a>
  </div>
  <div class="col middle">
    <h1>Ionic</h1>
  </div>
</div>
<router-outlet></router-outlet>

  <div class="card-body footer ">
    <footer class="page-footer ">
      <div class="footer-copyright">
        Ionic y su logotipo son marcas registradas
      </div>
      <div class="footer-copyright">
        Copyright © 2021 Ionic. Todos los derechos reservados
      </div>
    </footer>
  </div>
</main>
