
  <div class="card p-4 card_color">
    <div class=" row ">
      <div class="col-5">
        <label class="fs-4 fw-bold"> {{album?.titulo}} </label>
      </div>
      <div class="col -7 icon_end">
        <button *ngIf="album && album.usuario == userId" type="button" class="btn btn-outline-success ms-3 me-2 icon" (click)="goToEdit()"
          title="Editar álbum"><i class="bi bi-pencil-square"></i></button>
        <button *ngIf="album && album.usuario == userId" type="button" class="btn btn-outline-info me-1 me-2 icon" (click)="goToJoinCancion()"
          title="Agregar canción"><i class="bi bi-plus"></i><i class="bi bi-music-note"></i></button>
        <button *ngIf="album && album.usuario == userId" type="button" class="btn btn-outline-danger me-1 icon" (click)="eliminarAlbum()"
          title="Eliminar álbum"><i class="bi bi-trash-fill"></i></button>
        <button *ngIf="album && album.usuario == userId" type="button" class="btn btn-outline-primary me-1 me-2 icon"
         title="Compartir álbum" (click)="irCompartir()"><i class="bi bi-share-fill"></i></button>
      </div>
    <p class="my-0"><span class="fw-bold">Año: </span> <span class="text-capitalize">{{album?.anio}}</span></p>
    <p class="my-0"><span class="fw-bold">Descripción: </span> <span class="text-capitalize">{{album?.descripcion}}</span></p>
    <p class="my-0"><span class="fw-bold">Medio: </span> <span class="text-capitalize">{{album?.medio?.llave}}</span></p>
  </div>
    </div>
  <div class="card pt-4 px-4 ">
    <div class="card-header">
      <label class="fs-4 fw-bold"> Canciones</label>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead">
        <tr>
          <th scope="col" class="text-center">Canción</th>
          <th scope="col" class="text-center">Duración</th>
          <th scope="col" class="text-center">Intérprete</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let cancion of album?.canciones">
          <td>{{cancion.titulo}}</td>
          <td class="text-center">{{cancion.minutos | number:'2.0-0' }}:{{cancion.segundos | number:'2.0-0' }}</td>
          <td>{{cancion.interprete}}</td>
        </tr>
      </tbody>
    </table>
  </div>
